/* ОБЩИЕ ПРАВИЛА ДЛЯ СТРАНИЦЫ */

html {
  font-family: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* HEADER */

header {
  margin: 0;
}

/* ПАНЕЛЬ НАВИГАЦИИ */

nav {
  background-color: rgb(159, 159, 159);
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 0.9em;
  position: relative;
  z-index: 1;
}


nav ul {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;

}

nav ul li {
  display: block;
  text-align: center;
  padding: 7px;
  background-color: #6c6c6c;
  color: white;
  border: none;
  position: relative;
}

nav ul li:nth-of-type(1) {
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10px;
}

nav ul li:nth-of-type(2) {
  flex-grow: 1;
  flex-basis: 65px;
  border-left: 1px solid black;
  
}

nav ul li:nth-of-type(3) {
  flex-grow: 1;
  flex-basis: 120px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

nav ul li:nth-of-type(4) {
  flex-grow: 1;
  flex-basis: 30px;
  border-right: 1px solid black;
}

.vw-logo {
  display: block;
  max-width: 38px;
  max-height: 33px;
}

.main-link {
  display: none;
  padding: 7px;
  margin: 0;
}

.city {
  flex-grow: 4;
  text-align: right;
  flex-basis: 50px;
  padding: 7px 15px 7px 10px;
}

nav ul a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

nav ul a:hover {
  color: rgb(208, 208, 208);
}


/* ВЫПАДАЮЩЕЕ МЕНЮ */

.first-link {
  position: relative;
  text-transform: uppercase;
}

.dropdown-content {
  position: absolute;
  display: block;
  text-align: center;
  padding: 10px 0 0 0;
  width: 100%;
  top: -200px;
  left: 0;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.2);
  transition: 0.2s all;
  z-index: -1;
}

.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  top: 25px;
}


/* MAIN */

main {
  margin: 0;
}


/* CONTAINER */

.container {
  width: 90%;
  margin: 10px auto 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}



/* СЛАЙДЕР */

.slideshow {
  width: 95%;
  position: relative;
  overflow: hidden;
  background: #000;
  margin: 20px auto;
}

.empty-image {
  max-width: 100%;
  position: relative;
  top: -1000px;
}

.slideshow-item {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: slideanim 20s infinite;
  pointer-events: none;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 7s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 14s;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 20s infinite;
}

@keyframes slideanim {
  16.6%{
      opacity: 1;
      pointer-events: auto;
  }
  33.3%{
      opacity: 1;
      pointer-events: auto;
  }    
  49.9%{
      opacity: 0;
  }
}
@keyframes zoom {
  66.6%{
      transform: scale(1.2);
  }    
}



/* FOOTER - ПОДВАЛ */

footer {
  width: 90%;
  padding: 5px;
  margin: 10px auto;
  text-align: center;
  border-top: 2px solid gray;
}

footer a {
  margin-top: 10px;
  background-color: rgb(56, 117, 228);
  padding: 5px;
  color: white;
  text-decoration: none;
  border-radius: 15px;
}

footer a:hover {
  color: gray;
}

footer p {
  margin: 10px;
}




/* ПРАВИЛА ДЛЯ ЭКРАНОВ МЕНЬШЕ 500px */

@media screen and (max-width: 500px) {

  

/* БЛОК НАВИГАЦИИ */

nav {
  display: block;
}

nav ul {
  display: block;
}

nav ul li{
  padding: 7px 0 7px 0;
  border-bottom: 1px solid black;
}

nav ul li:nth-of-type(2) {
  border-left: none;
  
}

nav ul li:nth-of-type(3) {
  border-right: none;
  border-left: none;
}

nav ul li:nth-of-type(4) {
  border-right: none;
}

.vw-logo {
  display: none;
}

.main-link {
  display: block;
}


/* ВЫПАДАЮЩЕЕ МЕНЮ */

.dropdown-content {
  display: none;
  position: relative;
  margin: 10px 0 -7px 0;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  box-shadow: none;
}

.active {
  display: block;
}

.dropdown-content a {
  border-bottom: 1px solid black;
}

.dropdown-content a:nth-of-type(4) {
  border: none;
}

.dropdown:hover .dropdown-content {
  top: 0;
}



/* CONTAINER */

.container {
  width: 100%;
  padding: 8px;
}


/* CONTAINER */

.slideshow {
  width: 100%;
}



/*
    ЧЕРЕЗ ОТДЕЛЬНЫЕ ДИВЫ

    .galka1 {
      display: inline-block;
      width: 12px;
      height: 1.5px;
      background-color: white;
      position: absolute;
      top: 8px;
      left: 73px;
      transform: rotate(-40deg);
    }

    .galka2 {
      display: inline-block;
      width: 12px;
      height: 1.5px;
      background-color: white;
      position: absolute;
      top: 8px;
      left: 65px;
      transform: rotate(40deg);
    }

    .galka-active1 {
      transform: rotate(40deg);
    }

    .galka-active2 {
      transform: rotate(-40deg);
    }

    */


    /* ЧЕРЕЗ BEFORE И AFTER */
    
    .first-link {
      position: relative;
    }

    .first-link::before,
    .first-link::after {
      content: '';
      width: 12px;
      height: 1.5px;
      background-color: white;
      position: absolute;
      top: 7px;
    }

    .first-link::before {
     transform: rotate(40deg);
     left: 70px;
    }

    .first-link::after {
      transform: rotate(-40deg);
      left: 78px;
     }

    .first-link.galka-active::before {
      transform: rotate(-40deg);
     }

    .first-link.galka-active::after {
      transform: rotate(40deg);
    }


}