html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 0 0 2em 0;
}

.header-image {
  max-width: 100%;
  margin: 0;
}

nav {
  background-color: rgb(219, 219, 219);
  margin-top: -4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  flex-grow: 1;
  padding: 5px;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  justify-items: center;
}

nav ul li {
  text-align: center;
}

nav li:nth-of-type(1) {
  flex-grow: 1;
  flex-basis: 80px;
  flex-shrink: 1;
}

nav li:nth-of-type(2) {
  flex-grow: 4;
  flex-basis: 200px;
  flex-shrink: 1;
}

nav li:nth-of-type(3) {
  flex-grow: 1;
  flex-basis: 100px;
  flex-shrink: 1;
  text-align: left;
  padding-left: 3px;
}

nav div {
  flex-grow: 4;
  flex-basis: 50px;
  text-align: right;
  padding: 10px 15px 10px 10px;
}



nav ul a{
  text-decoration: none;
}

h1 {
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.3;
}

.note {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
}

.model-panel-img-first {
  max-width: 80%;
  margin: 0 auto 60px auto;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.model-panel-description-first {
  max-width: 80%;
  margin: 0 auto 60px auto;
  font-size: 0.8em;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}

.model-image {
  flex: 2 200px;
  flex-shrink: 0;
}

.model-panel-image {
  max-width: 100%;
}

.model-description {
  flex: 1 200px;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.6em;
}

.model-description p {
  font-size: 1.6em;
  margin-bottom: 5px;
}

.more-button {
  display: inline-block;
  font-size: 1.5em;
  width: 160px;
  padding: 10px;
  margin: 15px;
  background-color: rgb(78, 78, 78);
  color: white;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
}

.more-button:hover {
  color: black;
}

footer {
  width: 90%;
  padding: 5px;
  margin: 10px auto;
  text-align: center;
  border-top: 2px solid gray;
}

footer a {
  margin-top: 10px;
  background-color: rgb(56, 117, 228);
  padding: 5px;
  color: white;
  text-decoration: none;
  border-radius: 15px;
}

footer a:hover {
  color: gray;
}

footer p {
  margin: 10px;
}


@media screen and (max-width: 1240px) {
  /* стили для больших планшетов - начало */
  .header-image {
    max-width: 100%;
    margin: 0;
  }
  
  .model-panel {
    max-width: 95%;
    margin: 0 auto;
    font-size: 0.8em;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
  }

  header {
    padding: 0;
  }

  .note {
    width: 60%;
  }
  }

  
  @media screen and (max-width: 767px) {
  /* стили для средних планшетов - начало */
  h1 {
    font-size: 2.2em;
  }
  
  header {
    padding: 0 0 2em 0;
  }


  .note {
    width: 60%;
    font-size: 1.5em;
  }

  .model-description {
    margin-top: -40px;
  }
  
  .model-panel-img-first {
    flex-direction: column;
    margin: 0 auto 60px auto;
    font-size: 0.9em;
    border: 1px solid gray;
  }
  
  .model-panel-description-first {
    flex-direction: column;
    margin: 0 auto 60px auto;
    font-size: 0.9em;
    border: 1px solid gray;
  }
  }

  @media screen and (max-width: 500px) {
    /* стили для телефонов - начало */
    nav {
      flex-direction: column-reverse;
      max-height: 100px;
      padding-bottom: 5px;
      margin-top: -4px;
    }

    nav ul {
      min-width: 100%;
      margin: 0 5px;
    }

    nav li:nth-of-type(1) {
      flex-grow: 1;
      flex-basis: 100px;
    }
    
    nav li:nth-of-type(2) {
      flex-grow: 1;
      flex-basis: 100px;
    }
    
    nav li:nth-of-type(3) {
      flex-grow: 1;
      flex-basis: 100px;
      text-align: center;
    }

    nav div {
      margin-bottom: -5px;
      margin: 0 5px;
      max-height: 15px;
    }
  } 



  @media screen and (max-width: 406px) {
  /* стили для телефонов - начало */
  .model-description {
    margin-top: -15%;
    padding: 0;
  }

  }
  
  @media screen and (max-width: 358px) {
    /* стили для телефонов - начало */
    .model-description {
      margin-top: -20%;
    }
  
    }
  
  
  
