  html {
    background-color: #f3f3f3;
    font-size: 15px; 
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }  

  h1 {
    margin: 0;
    padding: 20px 0;
    color: #7aceff;
    text-shadow: 3px 3px 7px black;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  span{
    color: #ff0000;
    font-size: 40px;
  }